<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,
     initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <h1>Get the Weather now!</h1>
    <form action="/weather">
        <input type="text" name="country" id="country" 
        placeholder="Enter a country name:"/><br><br>

        <input type="text" name="city" id="city" 
        placeholder="Enter a city name:"/><br><br>

        <button type="submit">SUBMIT</button>
    </form>
    <p></p>
</body>
</html>